<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Baat Cheet is an anonymous chat app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/emojify.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/client.js"></script>
</head>
<body>
<div id="user">
    <div>
        <h1 id="bc"><%= title %></h1>
        <input type="text" placeholder="What's your nickname?" autofocus="autofocus" id="userN" name="username">
        <p id="error_response"></p>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search..." class="searchtext"/>
                <a href="javascript:;" class="search"><span class="icon"><i class="fa fa-search"></i></span></a>
		
                <a onclick="newRoom()" id="newRoom"></a>
            </div>
            <ul class="people" name="people">
                <li class="person active" data-chat="lobby" id="lobby" onclick="showRoom(this)">
                    <span class="name">Lobby</span><br>
                    <span class="preview">Central Lobby</span>
                </li>
            </ul>
        </div>
        <div class="right" id="lobby-msg" data-joined="1">
            
            <div class="top" data-chat="person1">
                <center id="online"><span>Lobby</span></center>
                <center><span></span></center>
            </div>
            <div class="chat" data-chat="person1" >
                
            </div>
        </div>
        <div class="error"></div>
        <div class="write" id="write">
            <a href="javascript:;" class="write-link attach"></a>
            <input type="text" id="textarea" data-active="lobby"/>
            <div class="write-right">
                <button class="write-link smiley" onclick="showEmoji()"></button>
                    <ul id="emobox">
                        <li><span onclick='writeEmoji(this)' id='grinning'>😀</span></li>
                        <li><span onclick='writeEmoji(this)' id='grin'>😁</span></li>
                        <li><span onclick='writeEmoji(this)' id='joy'>😂</span></li>
                        <li><span onclick='writeEmoji(this)' id='smiley'>😃</span></li>
                        <li><span onclick='writeEmoji(this)' id='smile'>😄</span></li>
                        <li><span onclick='writeEmoji(this)' id='sweat_smile'>😅</span></li>
                        <li><span onclick='writeEmoji(this)' id='laughing'>😆</span></li>
                        <li><span onclick='writeEmoji(this)' id='satisfied'>😆</span></li>
                        <li><span onclick='writeEmoji(this)' id='innocent'>😇</span></li>
                        <li><span onclick='writeEmoji(this)' id='smiling_imp'>😈</span></li>
                        <li><span onclick='writeEmoji(this)' id='wink'>😉</span></li>
                        <li><span onclick='writeEmoji(this)' id='blush'>😊</span></li>
                        <li><span onclick='writeEmoji(this)' id='yum'>😋</span></li>
                        <li><span onclick='writeEmoji(this)' id='relieved'>😌</span></li>
                        <li><span onclick='writeEmoji(this)' id='heart_eyes'>😍</span></li>
                        <li><span onclick='writeEmoji(this)' id='sunglasses'>😎</span></li>
                        <li><span onclick='writeEmoji(this)' id='smirk'>😏</span></li>
                        <li><span onclick='writeEmoji(this)' id='neutral_face'>😐</span></li>
                        <li><span onclick='writeEmoji(this)' id='expressionless'>😑</span></li>
                        <li><span onclick='writeEmoji(this)' id='unamused'>😒</span></li>
                        <li><span onclick='writeEmoji(this)' id='sweat'>😓</span></li>
                        <li><span onclick='writeEmoji(this)' id='pensive'>😔</span></li>
                        <li><span onclick='writeEmoji(this)' id='confused'>😕</span></li>
                        <li><span onclick='writeEmoji(this)' id='confounded'>😖</span></li>
                        <li><span onclick='writeEmoji(this)' id='kissing'>😗</span></li>
                        <li><span onclick='writeEmoji(this)' id='kissing_heart'>😘</span></li>
                        <li><span onclick='writeEmoji(this)' id='kissing_smiling_eyes'>😙</span></li>
                        <li><span onclick='writeEmoji(this)' id='kissing_closed_eyes'>😚</span></li>
                        <li><span onclick='writeEmoji(this)' id='stuck_out_tongue'>😛</span></li>
                        <li><span onclick='writeEmoji(this)' id='stuck_out_tongue_winking_eye'>😜</span></li>
                        <li><span onclick='writeEmoji(this)' id='stuck_out_tongue_closed_eyes'>😝</span></li>
                        <li><span onclick='writeEmoji(this)' id='disappointed'>😞</span></li>
                        <li><span onclick='writeEmoji(this)' id='worried'>😟</span></li>
                        <li><span onclick='writeEmoji(this)' id='angry'>😠</span></li>
                        <li><span onclick='writeEmoji(this)' id='rage'>😡</span></li>
                        <li><span onclick='writeEmoji(this)' id='cry'>😢</span></li>
                        <li><span onclick='writeEmoji(this)' id='persevere'>😣</span></li>
                        <li><span onclick='writeEmoji(this)' id='triumph'>😤</span></li>
                        <li><span onclick='writeEmoji(this)' id='disappointed_relieved'>😥</span></li>
                        <li><span onclick='writeEmoji(this)' id='frowning'>😦</span></li>
                        <li><span onclick='writeEmoji(this)' id='anguished'>😧</span></li>
                        <li><span onclick='writeEmoji(this)' id='fearful'>😨</span></li>
                        <li><span onclick='writeEmoji(this)' id='weary'>😩</span></li>
                        <li><span onclick='writeEmoji(this)' id='sleepy'>😪</span></li>
                        <li><span onclick='writeEmoji(this)' id='tired_face'>😫</span></li>
                        <li><span onclick='writeEmoji(this)' id='grimacing'>😬</span></li>
                        <li><span onclick='writeEmoji(this)' id='sob'>😭</span></li>
                        <li><span onclick='writeEmoji(this)' id='open_mouth'>😮</span></li>
                        <li><span onclick='writeEmoji(this)' id='hushed'>😯</span></li>
                        <li><span onclick='writeEmoji(this)' id='cold_sweat'>😰</span></li>
                        <li><span onclick='writeEmoji(this)' id='scream'>😱</span></li>
                        <li><span onclick='writeEmoji(this)' id='astonished'>😲</span></li>
                        <li><span onclick='writeEmoji(this)' id='heartbeat'>💓</span></li>
                        <li><span onclick='writeEmoji(this)' id='broken_heart'>💔</span></li>
                        <li><span onclick='writeEmoji(this)' id='two_hearts'>💕</span></li>
                        <li><span onclick='writeEmoji(this)' id='sparkling_heart'>💖</span></li>
                        <li><span onclick='writeEmoji(this)' id='heartpulse'>💗</span></li>
                        <li><span onclick='writeEmoji(this)' id='cupid'>💘</span></li>
                        <li><span onclick='writeEmoji(this)' id='flushed'>😳</span></li>
                        <li><span onclick='writeEmoji(this)' id='sleeping'>😴</span></li>
                        <li><span onclick='writeEmoji(this)' id='dizzy_face'>😵</span></li>
                        <li><span onclick='writeEmoji(this)' id='no_mouth'>😶</span></li>
                        <li><span onclick='writeEmoji(this)' id='mask'>😷</span></li>
                        <li><span onclick='writeEmoji(this)' id='smile_cat'>😸</span></li>
                        <li><span onclick='writeEmoji(this)' id='joy_cat'>😹</span></li>
                        <li><span onclick='writeEmoji(this)' id='smiley_cat'>😺</span></li>
                        <li><span onclick='writeEmoji(this)' id='heart_eyes_cat'>😻</span></li>
                        <li><span onclick='writeEmoji(this)' id='smirk_cat'>😼</span></li>
                        <li><span onclick='writeEmoji(this)' id='kissing_cat'>😽</span></li>
                        <li><span onclick='writeEmoji(this)' id='pouting_cat'>😾</span></li>
                        <li><span onclick='writeEmoji(this)' id='crying_cat_face'>😿</span></li>
                        <li><span onclick='writeEmoji(this)' id='scream_cat'>🙀</span></li>
                        <li><span onclick='writeEmoji(this)' id='slightly_frowning_face'>🙁</span></li>
                        <li><span onclick='writeEmoji(this)' id='slightly_smiling_face'>🙂</span></li>
                        <li><span onclick='writeEmoji(this)' id='upside_down_face'>🙃</span></li>
                        <li><span onclick='writeEmoji(this)' id='face_with_rolling_eyes'>🙄</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-gesturing-no'>🙅‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='no_good'>🙅‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-gesturing-no'>🙅‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-gesturing-ok'>🙆‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='ok_woman'>🙆‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-gesturing-ok'>🙆‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-bowing'>🙇‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-bowing'>🙇‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='bow'>🙇‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='see_no_evil'>🙈</span></li>
                        <li><span onclick='writeEmoji(this)' id='hear_no_evil'>🙉</span></li>
                        <li><span onclick='writeEmoji(this)' id='speak_no_evil'>🙊</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-raising-hand'>🙋‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='raising_hand'>🙋‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-raising-hand'>🙋‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='raised_hands'>🙌</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-frowning'>🙍‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='person_frowning'>🙍‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-frowning'>🙍‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='woman-pouting'>🙎‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='person_with_pouting_face'>🙎‍♀️</span></li>
                        <li><span onclick='writeEmoji(this)' id='man-pouting'>🙎‍♂️</span></li>
                        <li><span onclick='writeEmoji(this)' id='pray'>🙏</span></li>


                    </ul>

                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
        
    </div>
</div>

<div id="room">
    <div>
        <input type="text" placeholder="Room Name" id="roomName" name="roomName"><br>
        <textarea placeholder="Description" id="description" name="description" rows="5" cols="30"></textarea>
        <button onclick="submitRoom()" id="submit">Submit</button>
        <button id="cancel">Cancel</button>
    </div>
    <span id='roomError'></span>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='/notify.min.js'></script>
<script src='/script.js'></script>
<script src='/emojify.js'></script>
</body>
</html>

