<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Baat Cheet is an anonymous chat app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style2.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
    </head>
<noscript>Javascript is disabled. Please download a javascript enabled browser.</noscript>
<body>
<div class="viewport">
    <div id="user" class="container">
        <h1>Baat Cheet</h1>
        <input type="text" placeholder="Enter Username" id="userN" name="username">
        <p id="error_response"></p>
    </div>
    <div id="after" class="container">
    </div>
</div>

<div id="navigation">
    <span id="opp">Other User</span>
    <span id="username">Username</span>
</div>
<div id="lobby">

    <ol class="chat">
        <li class="other">
            <!-- <div class="avatar"></div> -->
            <div class="name"></div>
            <div class="msg">
                <p>Hi!</p>
                <p>Some message

                </p>
                <time>saldfkjadlfkajdsajlf;</time>
            </div>
        </li>
    </ol>
    <input class="textarea" id="textarea" type="text" placeholder="Type here!"/>
    <div class="emojis"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/notify.min.js"></script>
<script>
    $(document).ready(function(){
        $("#userN").on("keypress", function(val) {
            if(val.which == 13) {
                setUsername();
            }
        });

        $('#textarea').on("keypress", function(val) {
            if(val.which == 13) {
                sendMessage();
                $('#textarea').val("");
            }
        });
    });
</script>
</body>
</html>
