<div id="user" class="text-center">
  <div class="d-flex justify-content-center pt-5 mt-5 w-100">
    <div class="jumbotron p-5 m-5 home-label">
      <h1 id="bc"><%= title %></h1>
      <input type="text" placeholder="What's your nickname?" 
      autofocus="autofocus" id="userN" name="username">
      <p id="error_response"></p>
    </div>
  </div>
</div>