<div id="user" class="text-center align-items-center justify-content-center h-100 w-100 position-fixed text-white">
  <div class="d-flex flex-column">
    <div class="jumbotron p-auto m-5 border border-primary bg-transparent">
      <h1 class="position-relative display-1"><%= title %></h1>
      <input type="text" autocomplete="off" placeholder="What should we call you?" class="position-relative bg-transparent text-white text-center w-100 p-3 border-top-0 border-right-0 border-left-0 border-bottom" autofocus="true" id="userN"
        name="username">
      <p id="nicknameError" class="position-relative m-2"></p>
    </div>
    <div class="text-center">
      <p>
        Baat-cheet is a completely anonymous online chat website developed and maintained by KamandPrompt - IIT Mandi.
      </p>
      <a href="https://github.com/KamandPrompt/baat-cheet" target="_blank">
        This project is free and open-source. 
      </a>
    </div>
  </div>
</div>
