* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* To style icons of font-awesome */
.icon {
  font-size: 2rem
}

li {
  list-style: none;
}

#user {
  display: flex;
}

body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
  background-repeat: none;
}

.wrapper {
  display: none;
  position: absolute;
  left: 50%;
  width: 99%;
  height: 100%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* Main App Container */
.app-container {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 100%;
  height: 99%;
  background-color: #fff;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar-btn {
  position: absolute;
  left: 300px;
  top: 10px;
  visibility: hidden;
}

/* App Left Section Style */
.app-container .left {
  float: left;
  z-index: 999;
  position: absolute;
  width: 300px;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  transition: 1s;
}

.room-list {
  overflow: auto;
  height: 90%;
}

/* App Left Section Style End*/
/* App Right Section Style */
.app-container .right {
  position: relative;
  float: right;
  width: calc(100% - 300px);
  height: 100%;
  transition: 1s;
}

.app-container .right .top {
  width: 100%;
  height: 47px;
  padding: 40px 29px;
  background-color: #eceff1;
}

.app-container .right .top span {
  font-size: 15px;
  color: #999;
}

.app-container .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.app-container .right .top .btn {
  border-radius: 5px;
  border: none;
}

.app-container .right .top .btn:hover, .app-container .right .top .btn.viewUsers {
  background-color: white;
}

.app-container .right .Participants {
  z-index: -10;
  overflow: auto;
  background-color: rgb(236 239 241);
  position: fixed;
  top: 80px;
  height: 60%;
  width: 30%;
  opacity: 0;
  /*For transition animation*/
  transition: opacity .5s ease-out;
  display: block;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  border-left: solid 5px rgb(9 121 249);
  border-right: solid 5px rgb(9 121 249);
  border-bottom: solid 1px rgb(9 121 249)
}

.app-container .right .Participants span ul li {
  color: #261B1B;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.app-container .right .Participants span ul li:before {
  content: "\f007";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  position: absolute;
}

.app-container .right .chat {
  position: relative;
  display: none;
  overflow: auto;
  padding: 0 35px 92px;
  padding-bottom: 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-bottom: none;
  border-color: #e6e6e6;
  height: -moz-calc(90% - 70px);
  height: -webkit-calc(90% - 70px);
  height: -o-calc(90% - 70px);
  height: calc(90% - 70px);
  flex-flow: column nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.app-container .right .chat> :first-child {
  margin-top: auto !important;
}

.app-container .right .chat.active-chat {
  display: block;
  display: -webkit-flex;
  display: flex;
}

/* App Right Section Style End*/
@media screen and (max-width: 900px) {
  .sidebar-btn {
    visibility: visible;
  }

  .menu-closed {
    left: -300px !important;
  }

  .open-menu {
    left: 0px !important;
  }

  .left {
    left: -300px;
  }

  .right {
    width: 100% !important;
    display: block;
  }
}

.app-container .right .card.others {
  float: left;
}

.app-container .right .card.self {
  float: right;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

#newRoom {
  position: relative;
  display: inline-block;
  content: '';
  margin-left: 4.2px;
  width: 40px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 42px;
}

#newRoom:hover, #submit:hover, #cancel:hover {
  border-color: #0b2d63;
  color: #0b2d63;
  cursor: pointer;
}

#newRoom:active, #submit:active, #cancel:active {
  border-color: #27496d;
  color: #27496d;
}

#online {
  margin-top: -2%;
  font-size: 15px;
  color: #999;
}

#emobox {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #fff;
  display: none;
  width: 140px;
  margin-left: -50%;
  padding: 2px;
  border-color: #000;
  border: solid 1px #000;
}

#emobox li img {
  width: 2.1em;
}

#emobox li {
  float: left;
  padding: 3px;
}

/* Left Side Bar Section */
/* Overriding columns to 1 in side bar */
.card-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

/* Styling the card */
.card {
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 2px 12px #bbbbbb;
}

.card-columns>.card.active {
  color: white;
  background-color: #007bff;
}

.error {
  display: none;
}

.modal-header {
  border-bottom: 1px solid lightgray;
}

.modal-body {
  border-bottom: 1px solid lightgray;
}

/* Toast notifications */
.toast-wrapper {
  z-index: 2;
  position: absolute;
  top: 1em;
  right: .25em;
}

.toast-header {
  background-color: #007bff;
  color: #fff;
}

.toast {
  min-width: 200px;
}