* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* To style icons of font-awesome */
.icon {
  font-size: 2rem
}

a {
  font-weight: bold;
}

li {
  list-style: none;
}

#user {
  display: flex;
}

body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
  background-repeat: none;
}

/* Main App Container */
.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar-btn {
  position: absolute;
  left: 300px;
  top: 10px;
  visibility: hidden;
}

/* App Left Section Style */
.app-container .left {
  float: left;
  z-index: 999;
  position: absolute;
  width: 300px;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  transition: 1s;
}

.room-list {
  overflow: auto;
  height: 90%;
}

/* App Left Section Style End*/
/* App Right Section Style */
.app-container .right {
  position: relative;
  float: right;
  width: calc(100% - 300px);
  height: 100%;
  transition: 1s;
}

.app-container .right .Participants {
  z-index: 900;
  width: inherit;
  position: absolute;
  left: 0;
  border-left: solid 5px rgb(9 121 249);
  border-right: solid 5px rgb(9 121 249);
  border-bottom: solid 1px rgb(9 121 249)
}

.app-container .right .chat {
  position: relative;
  display: none;
  overflow-y: scroll;
  flex-flow: column nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 80%;
}

.app-container .right .chat.active-chat {
  display: block;
  display: -webkit-flex;
  display: flex;
}

/* App Right Section Style End*/
@media screen and (max-width: 900px) {
  .sidebar-btn {
    visibility: visible;
  }

  .menu-closed {
    left: -300px !important;
  }

  .open-menu {
    left: 0px !important;
  }

  .left {
    left: -300px;
  }

  .right {
    width: 100% !important;
    display: block;
  }
}

.app-container .right .card.others {
  float: left;
}

.app-container .right .card.others a {
  color: white;
}

.app-container .right .card.self {
  float: right;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

#emobox {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #fff;
  display: none;
  width: 140px;
  margin-left: -50%;
  padding: 2px;
  border-color: #000;
  border: solid 1px #000;
}

#emobox li img {
  width: 2.1em;
}

#emobox li {
  float: left;
  padding: 3px;
}

/* Left Side Bar Section */
/* Overriding columns to 1 in side bar */
.card-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

/* Styling the card */
.card {
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 2px 12px #bbbbbb;
}

.card-columns>.card.active {
  color: white;
  background-color: #007bff;
}

.error {
  display: none;
}

.modal-header {
  border-bottom: 1px solid lightgray;
}

.modal-body {
  border-bottom: 1px solid lightgray;
}

/* Toast notifications */
.toast-wrapper {
  z-index: 2;
  position: absolute;
  top: 1em;
  right: .25em;
}

.toast-header {
  background-color: #007bff;
  color: #fff;
}

.toast {
  min-width: 200px;
}

/* Emoji */
.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.25em;
  background-size: contain;
}

#emobox {
  height: 300px;
  width: 300px;
  overflow-y: scroll;
}

/* Adding some colors to Bootsrap's colors   */
.bg-light-dark {
  background-color: rgb(233, 236, 239)
}