@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,600);
@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li{
  list-style: none;
}
#user{
	font-family: 'Barrio', cursive;
	color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#user > div{
  margin: auto;
}
#userN{
	background-color: transparent;
  max-width: 700px;
  position: relative;
  min-width: 100%;
  padding: 10px;
  border:none;
  border-bottom: 2px solid #fff;
  outline: none;
	text-align: center;
	font-size: 1.8vw;
	color: #fff;
}
#userN::-webkit-input-placeholder{
	color:white;
	opacity: 0.5;
}
@media screen and (max-width: 50em){
	#user{
		position: absolute;
		height: 80%;
	}
	#bc{
		font-size: 16vw !important;
	}
	#userN{
		font-size: 6vw;
	}
}

#error_response{
    min-width: 100px;
    position: relative;
    font-size: 1.3vw;
    margin: 2%;
}
#bc{
    font-size: 8vw;
    position: relative;
}
body {  
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
  background-repeat: none;
}

.wrapper {
  display: none;
  position: absolute;
  left: 50%;
  width: 99%;
  height: 100%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}

.container {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 100%;
  height: 99%;
  background-color: #fff;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container .left {
  float: left;
  width: 30%;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.container .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px;
}
.container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.container .left input {
  float: left;
  width: 55%;
  height: 42px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .left input:focus {
  outline: none;
}
.container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  background-color: #00b0ff;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.container .left .icon{
  position: absolute;
  margin-left: 14px;
  width: 20px;
  margin-top: 9px;
  z-index: 1;
  color: white;
}
.container .left a.search:hover{
  background: #0b7dda;
}

.container .left .people {
  margin-left: -1px;
  padding-left: 21%;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  overflow-y: auto;
  height:calc(100% - 120px);
}
.container .left .people .person {
  position: relative;
  left: -15%; 
  width: 100%;
  text-overflow: ellipsis;
  padding: 12px 0 16px;
  padding-left: 12%;
  cursor: pointer;
  background-color: #fff;
}
.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: #999;
  background-color: #fff;
}
.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.container .left .people .person.active, .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #00b0ff;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  padding-left: -moz-calc(10%  + 1px);
  padding-left: -webkit-calc(10% + 1px);
  padding-left: -o-calc(10% + 1px);
  padding-left: calc(10% + 1px);
}
.container .left .people .person.active span, .container .left .people .person:hover span {
  color: #fff;
  background: transparent;
}
.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none;
}
.container .right {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
}
.container .right .top {
  width: 100%;
  height: 47px;
  padding: 40px 29px;
  background-color: #eceff1;
}
.container .right .top span {
  font-size: 15px;
  color: #999;
}
.container .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .right .top .btn {
  border-radius: 5px;
  border: none;
}
.container .right .top .btn:hover, .container .right .top .btn.viewUsers {
  background-color: white;
}
.container .right .Participants {
  z-index: -10;
  overflow: auto;
  background-color: rgba(0,0,0,0.08);
  position: fixed;
  top: 80px;
  right: 20%;
  height: 0%;
  width: 23%;
  transition: .5s;
}
.container .right .Participants span ul li {
  color: #261B1B;
}
.container .right .Participants span ul li:before {
  content: "\f007";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em; 
}
.container .right .chat {
  position: relative;
  display: none;
  overflow: auto;
  padding: 0 35px 92px;
  padding-bottom: 0; 
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-bottom: none;
  border-color: #e6e6e6;
  height: -moz-calc(90% - 70px);
  height: -webkit-calc(90% - 70px);
  height: -o-calc(90% - 70px);
  height: calc(90% - 70px);
  flex-flow: column nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.container .right .chat > :first-child{
  margin-top: auto !important;
}
.container .right .chat.active-chat {
  display: block;
  display: -webkit-flex;
  display: flex;
}
 .write {
  z-index: 10;
  position: absolute;
  bottom: 16px;
  left: 35%;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  width: -moz-calc(57%);
  width: -webkit-calc(57%);
  width: -o-calc(57%);
  width: calc(57% );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.write input {
  font-size: 16px;
  float: left;
  width: 87%;
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 2000px){
  .write input {
    width: 80%;
  }
}
@media only screen and (max-width: 1000px){
  .write input {
    width: 60%;
  }
}@media only screen and (max-width: 500px){
  .write input {
    width: 40%;
  }
}

.write-right {
  float: right;
}
.write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");
  background-repeat: no-repeat;
  background-position: center;
}
.write .write-link.smiley:before {
  display: inline-block;
  float: left;
  width: 40px;
  height: 42px;
  content: '';
  background-image: url("images/icons/emoji.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.write .write-link.send {
  display: inline-block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 5px;
  content: '';
  background-image: url("images/icons/send.png");
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: center;
 }

#joinBtn {
  cursor: pointer;
  background:#1ade1a;
  color: white;
  width: 20%;
  padding: 1%;
  border: 0;
}
.write#join{
  padding-left: 0;
}
.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.container .right .bubble .info {
  float:right; 
  color: rgba(1,1,1,0.35);
  font-size: 12px;
  font-weight: 100;
  position: relative;
  display: inline-block;
  clear: both;  
}

.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  transform: rotate(29deg) skew(-35deg);
}
.container .right .bubble.others {
  float: left;
  color: #fff;
  background-color: #00b0ff;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -moz-animation-name: slideFromLeft;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}
.container .right .bubble.others:before {
  left: -3px;
  background-color: #00b0ff;
}
.container .right .self {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.container .right .bubble.self {
  float: right;
  color: #1a1a1a;
  background-color: #eceff1;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  
}
.container .right .bubble.self:before {
  right: -3px;
  background-color: #eceff1;
}
.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}
.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
}
.container .right .conversation-start span:before {
  left: 0;
}
.container .right .conversation-start span:after {
  right: 0;
}
#submit, #cancel{
  margin-top: 1.5%;
  margin-left: 2%;
  font-size: 1vw;
  padding: 1%;
  color: #1f4e9b;
  background: rgba(0,0,0,0);
  border: solid 2px #1f4e9b;
  font-family: 'Roboto', sans-serif;
}
#newRoom{
	position: relative;
  display: inline-block;
  content: '';
  margin-left: 4.2px;
  width: 40px;
  height: 42px;
  background-image: url("/images/icons/images.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 42px;
}
#submit{
	margin-left: calc(45% - 100px);
}
#cancel{
	margin-left: 5%;
}
#submit, #cancel{
	font-size: 1.2em;
	border-radius: 12.5px;
	width: 100px;
	height: 35px;
}
#newRoom:hover, #submit:hover, #cancel:hover{
  border-color: #0b2d63;
  color: #0b2d63;
  cursor: pointer;
}
#newRoom:active, #submit:active, #cancel:active{
  border-color: #27496d;
  color: #27496d;
}
#room{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  opacity:0.85;
  background: #f8f8f8;
}
#room > div{
  border-radius:2px;
  padding:20px 30px;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:400px;
  margin-left: calc(50% - 200px);
  margin-top: 15%;  
}
#roomName, #description{
  margin: 5%;
  width: 300px;
  font-size: 1.5vw;
  border-color: #000; 
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
}
#roomName{
  border: none;
  border-bottom: 1.5px solid #000;
}
#online{
  margin-top:-2%;
  font-size: 15px;
  color: #999;
}
#emobox{
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #fff;
  display: none;
  width: 140px;
  margin-left: -50%;
  padding: 2px;
  border-color: #000;
  border: solid 1px #000;
}
#emobox li img{
  width: 20px;
}
#emobox li{
 float: left;
 padding: 3px;
}
